@font-face {
    font-family:"IRANsans";
    src: url("../font/FontsFree-Net-ir_sans.ttf");
}
body{
    font-family: "IRANsans";
    position: relative;
    margin: 0;
    
    background: #FFFFFF;
}
button{
    font-family: 'IRANsans';

}
.arm{
    margin: 20px ;
    width: 70px;
    margin: 40px;
}
.head{
    display: flex;

}
.search{
    width: 600px;
    height: 44px;
    background: rgba(210, 211, 214, 0.4);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 20px;
    border: none;
    padding-right: 40px;
}
.btn-log{
    width: 134px;
    height: 44px;
    background: #243A73;
    border-radius: 24px;
    color: #FFFFFF;

}
.btn-cart{
    border: none;
    background:none;
    color: #243A73;
    font-size: 3em;

}
.hr1{
    width: 800px;
    margin: auto;
}
.category{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.laptop{
    padding: 0 40px 0 40px;
}
.head{
    width: 100%;
}
.btn-head{
    width: 222px;
    height: 56px;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #243A73;
    position: absolute;
    left: 56px;
    top: 550px;
    border: 1px solid black;

}
input:focus-visible{
    border:none;
}
.head-icon{
    padding: 10px;
    position: absolute;
    top: 8px;
}
.etemad{
    display: flex;
    justify-content: center;
}
.png-bime{
    width: 92px;
    height: 92px;
    position: absolute;
    top: -60px;
    right: 25%;
    
}
.bime{
    background: #F1F4FB;
    border-radius: 8px;
    width: 190px;
    height: 182px;
    text-align: center;
    font-style: normal;
    position: relative;
    padding-top: 56px;
    margin-top: 150px;
    margin-right: 20px;
    margin-bottom: 100px;
}
.bime1{

}
.bime-2{
    color: #6C6A67;
    font-weight: 500;
    font-size: 10px;
    line-height: 25px;
}
.btn-2{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding: 20px 20px;
}
.cus{
    background: #F1F4FB;
    border-radius: 8px;
    width: 190px;
    height: 182px;
    text-align: center;
    font-style: normal;
    position: relative;
    padding-top: 56px;
    margin: 150px;

}
.search-3{
    flex-grow: 1;
}
.bs{
    position: absolute;
    right: 175px;
    top: 33px;
}
.cus1{

}
.cus2{
    color: #6C6A67;
    font-weight: 500;
    font-size: 10px;
    line-height: 25px;

}
.png-cus{
    width: 92px;
    height: 92px;
    position: absolute;
    top: -60px;
    right: 20%;
}
.reap{
    background: #F1F4FB;
    border-radius: 8px;
    width: 190px;
    height: 182px;
    text-align: center;
    font-style: normal;
    position: relative;
    padding-top: 56px;
    margin: 150px;
}
.reap1{

}
.reap2{
    color: #6C6A67;
    font-weight: 500;
    font-size: 10px;
    line-height: 25px;
}
.png-reap{
    width: 92px;
    height: 92px;
    position: absolute;
    top: -60px;
    right: 25%;  
}
.aks2{
    width: 100%;
    height: 480px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;

}
.sup2{
    color: #6C6A67;
    font-weight: 500;
    font-size: 10px;
    line-height: 25px;
}
.png-sup{
    width: 92px;
    height: 92px;
    position: absolute;
    top: -60px;
    right: 25%;
}
.harag1{
    width: 120px;
    height: 47px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 47px;
    text-align: right;
    margin-right: 50px;
    color: #000000;


}

.harag2{
    background: rgba(224, 225, 227, 0.2);
    border-radius: 20px;
    height: 350px;
    width: 1284px;
}
.harag{
    display: flex;
    justify-content: center;
}